.hello {
    @include media-breakpoint-up(lg) {
        padding-top: 185px;
	}
	
	.gr_container1gr_row1gr_col1 {
		img {
			margin-left: auto;
			margin-right: auto;

			max-width: 330px;

			@include media-breakpoint-up(sm) {
				max-width: 400px;
			}
		}
	}
}

#contact {
    h3 {
        margin-top: 2.5em;
    }
}

.hello {
    .mdo_bgimg {
        @include media-breakpoint-up(lg) {
            background-attachment: fixed;
        }
    }
}

// Main nav
#main-nav {
	.homeonly {
		display: none;
	}
}

body.home #main-nav {
	.homeonly {
		display: inline-block;
	}
}

#main-nav {
	#menu-item-1229 a {
		padding-left: 0;
	}
}

body.home #main-nav {
	#menu-item-814 {
		display: none;
	}
}

// Hide recaptcha badge
.grecaptcha-badge {
	visibility: hidden !important;  
	opacity: 0 !important;  
}
