html {
    overflow-y: scroll;
}

html, 
body {
    height: 100%;
    background-color: $w;
}

// Images
img,
svg {
	max-width: 100%;
    height: auto;
}

// Google Map iframe
.acf-map_responsive {
	position: relative;
	padding-bottom: 56%;
	height: 0;
	overflow: hidden;
}  
.acf-map_responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.acf-map img {
   max-width: inherit !important;
}

// Hr
hr {
    display: block;
    clear: both;
    margin-top: $s;
    margin-bottom: $sm;
    border: 0;
    border-top: 1px solid $g2;
}

// Hide things
.shy {
	clip: rect(1px, 1px, 1px, 1px);
	position: fixed;
}

// Clearfix
.cf:after {
    content: "";
    display: table;
    clear: both;
}

// Lists
ul, ol {
    padding: 0;

    li {
        list-style: none;
        margin-left: 0;
        line-height: 1.55;

        + li {
            margin-top: .5em;
        }
    }
}
.txt {
    ul, 
    ol {
        li {
            list-style: none;
            margin-left: 1em;
        }

        margin-bottom: 0;
    }

    ul {
        li {
            margin-left: 0;
            padding-left: 1.8em;
            position: relative;

            &:before {
                content: "\f418";
                position: absolute;
                left: 0;
                top: .25em;
                @include icon;
            }
        }
    }
} 

// Last elements
.lcnmb {
    > *:last-child {
        margin-bottom: 0;
    }
}

// alignment
.center {
    text-align: center;
}

// loader wrapper
.loader_wrapper {
    background-color: rgba($color: $c1, $alpha: .5);
}

// Icons
.button {
    span.genericons-neue {
        font-size: 140%;
        margin-right: .2em;
        position: relative;
        top: -.1em;
    }
}