// Links
a,
a:link,
a:focus,
a:active,
a:visited {
    color: $c2;
    text-decoration: none;
    position: relative;
    opacity: 1;
    transition: opacity .3s;

    &:hover {
        opacity: .7;
    }

    &.link_ghost {
        color: $c2;
    }
}

.txt,
.links {
    a,
    a:link,
    a:focus,
    a:active,
    a:visited {
        color: $c2;
        text-decoration: none;
        position: relative;
        border-bottom: 1px solid;
    }

    a:hover {
        border-bottom: 1px solid;
    }
}

// buttons
a.button,
.button {
    background-color: $c2;
    color: $w;
    font-weight: 700;
    font-size: 80%;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: $xs $s;
    display: inline-block;
    border-radius: $xxs;

    [class*="smpl-"] {
        position: relative;
        font-size: 1.2em;
        top: .12em;
        margin-right: .3em;
    }

    &.button_wide {
        width: 100%;
    }

    &.download {
        padding-right: $s;

        &::after {
            content: none;
        }
    }
}