// News Archiv
.page-template-tpl_newsarchiv {
    section {
        article {
            + article {
                margin-top: $l;
            }

            figure {
                margin-bottom: $s;
            }
        }
    }
}

// Quote
.flex_inner {
    .zitat {
        + cite {
            margin-top: .2em;
        }
    }
}

// Tables
.table {
    min-width: 800px;

    tr {
        > td {
            &:first-child {
                padding-left: 0;
            }
            
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
