// main
@include media-breakpoint-up(lg) {
    main {
        min-height: 300px;
    }
}

// wrapper bgimage
.wrapper {
    position: relative;

    &.wrapper_nobgcolor {
        + .wrapper_nobgcolor {
            padding-top: 0;
        }
    }

    .w_bgimg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .3;
        background-size: cover;
        background-position: center;
    }
}

// wrapper options
.wrapper {
    background-color: $w;
    padding-top: $l;
    padding-bottom: $l;

    .row {
        &.r_double_bottom_margin {
            margin-bottom: $m;
        }

        // Column
        .col_inner {
            // height: 100%;
            position: relative;
            
            &.col_inner_bgcolor {
                padding: $m;
            }
        }

        .wrapper_anchor {
            position: relative;
            top: -$xl;
        }

        &.row_bgcolor {
            padding-top: $l;
            padding-bottom: $l;
            background-color: $c1;

            .row_bgcolor_color {
                h2,
                h3,
                p {
                    color: $w !important;
                }
            }
        }

        // widths
        > .container {
            > .row {
                > [class*="col-"] {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }

        // to top
        &.totop {
            margin-top: -$l;
        }
    }
}

.flex_inner {
    // border: 1px solid tomato;
    margin-bottom: 1em;

    &:last-of-type {
        margin-bottom: 0;
    }
    
    .flex_inner_element {
        margin-bottom: 0;
        // border: 1px solid blue;
    }

    h2,
    h3 {
        margin-top: 0;
    }

    .flex_inner_element {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

// col text-align
.wrapper {
    > .container {
        > .row {
            [class*="col-"] {
                margin-top: $s;
                margin-bottom: $s;

                &.center {
                    text-align: center;
                }

                &.right {
                    text-align: right;
                }
            }
        }
    }
}

// Children topmargin
.children_topmargin_xxs {
    // margin-top: -$xxs;

    .child_topmargin_xxs {
        margin-top: $xxs;
        margin-bottom: $xxs;
    }
}

.wrapper_fw {
    .col_inner {
        height: 100%;

        .col_inner_bgcolor {
            height: 100%;
            padding: $l $s;

            &.paddingY_xs_medium {
                padding-top: $xl;
                padding-bottom: $xl;
            }
            &.paddingY_xs_big {
                padding-top: $xxl;
                padding-bottom: $xxl;
            }
            &.paddingY_xs_verybig {
                padding-top: $xxxl;
                padding-bottom: $xxxl;
            }

            @include media-breakpoint-up(sm) {
                &.paddingY_sm_small {
                    padding-top: $l;
                    padding-bottom: $l;
                }
                &.paddingY_sm_medium {
                    padding-top: $xl;
                    padding-bottom: $xl;
                }
                &.paddingY_sm_big {
                    padding-top: $xxl;
                    padding-bottom: $xxl;
                }
                &.paddingY_sm_verybig {
                    padding-top: $xxxl;
                    padding-bottom: $xxxl;
                }
            }

            @include media-breakpoint-up(md) {
                &.paddingY_md_small {
                    padding-top: $l;
                    padding-bottom: $l;
                }
                &.paddingY_md_medium {
                    padding-top: $xl;
                    padding-bottom: $xl;
                }
                &.paddingY_md_big {
                    padding-top: $xxl;
                    padding-bottom: $xxl;
                }
                &.paddingY_md_verybig {
                    padding-top: $xxxl;
                    padding-bottom: $xxxl;
                }
            }

            @include media-breakpoint-up(lg) {
                &.paddingY_lg_small {
                    padding-top: $l;
                    padding-bottom: $l;
                }
                &.paddingY_lg_medium {
                    padding-top: $xl;
                    padding-bottom: $xl;
                }
                &.paddingY_lg_big {
                    padding-top: $xxl;
                    padding-bottom: $xxl;
                }
                &.paddingY_lg_verybig {
                    padding-top: $xxxl;
                    padding-bottom: $xxxl;
                }
            }

            @include media-breakpoint-up(sm) {
                padding: $l;
            }

            .col_inner_bgimg {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: .3;
                background-size: cover;
                background-position: center;

                &.row_fw_col_bgimg_o1 {
                    opacity: 1;
                }
            }

            .col_inner_bgcolor_content {
                position: relative;
                z-index: 1;
            }
        }
    }
}