// type-scale.com
html {
	font-size: 105%;

	@include media-breakpoint-up(sm) {
		font-size: 112.5%; /*16px*/
	}
}

body {
  font-weight: 400;
  line-height: 1.65;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

// Custom
body {
	background-color: $w;
	font-family: $f_regular;
	color: $b;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	line-height: 1.35;
	font-weight: 900;
}
.subline {
	font-size: .8em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .05em;
}
