/* Colors */
// theme
$c1 		: #111b3c;
$c2         : #ef8520;
$c3         : #39CCCC;
$c4         : #FF4136;
$ok         : #8914c9;

// regular
$w			: #ffffff;
$b			: #111111;
$g			: #efefef;
$g2			: #cccccc;
$g3			: #aaaaaa;

$input_bg   : #111b3c;

/* Spaces */
// Margins
$xxs: 5px;
$xs: 10px;
$s: 15px;
$sm: 20px;
$m: 30px;
$ml: 45px;
$l: 60px;
$xl: 80px;
$xxl: 120px;
$xxxl: 160px;
$xxxxl: 200px;

/* Heights */
$hs: 150px;
$hm: 250px;
$hl: 450px;
$hxl: 600px;
$hxxl: 800px;

/* Typo */
// Font family
$f_regular: 'Lato', sans-serif;
$f_hl: 'Pacifico', sans-serif;
$f_deko: 'Permanent Marker', cursive;

// font-family: 'Meddon', ;
// font-family: 'Zhi Mang Xing', ;
// font-family: 'Mrs Sheppards', ;